<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
	  <add name="ProntuarioDigitalEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=5.189.138.43,1433;initial catalog=ProntuarioDigital;persist security info=True;user id=sa;password=yourStrong(&amp;)Password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="DOMAIN_EMAIL" value="@itcr.ac.cr" />
  </appSettings>
</configuration>