.vs

Plantilla.Negocios/obj
Plantilla.UI/obj
Plantilla.Datos/obj
Plantilla.Objetos/obj
Plantilla.WCF/obj
Plantilla.WindowsService/obj
Plantilla.Utilitarios/obj
Plantilla.UIProcess/obj
Plantilla.Negocios/bin
Plantilla.UI/bin
Plantilla.Datos/bin
Plantilla.Objetos/bin
Plantilla.WCF/bin
Plantilla.WindowsService/bin
Plantilla.Utilitarios/bin
Plantilla.UIProcess/bin